<%- include ("../partials/header") %> 

<h1>Notifications</h1>

<ul>
	<% allNotifications.forEach(function(notification) { %>
	<li>
		<a href="/books/<%= notification.book_id %>/review/<%= notification.reviewId %>">
			<%= notification.username %> created a new review %>
		</a>
	</li>
	<% }); %>
</ul>

<%- include ("../partials/footer") %> 
